<h2>Demographics Data Groups</h2>
<ul class="census_data_group_list">
  <% @data_groups.each do |group| %>
    <li>
      <%=link_to group.name, census_data_group_path(group) %> 
    </li>
  <% end %>
</ul>

<%= link_to 'New Group', new_census_data_group_path %>
